
.view-product{
  background-color: white;
  padding: 20px 20px;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  

}
.product-detail-view{
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0px;
  align-items: start;
  width: 100%;
  text-align: start;
  margin-bottom: 20px;

}

.product-thumbnail{
  width: 500px;
}
.product-thumbnail-container{

 padding-top: 10px;
 padding-bottom: 10px;
 max-width: 500px;
 max-height: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.product-thumbnail-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-item{
  display: flex;
  justify-content: center;
}

.product-name{
  margin-bottom: 20px;
}

.product-detail{

  padding-top:30px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-style: solid;
  border-color: #e6ded7;
  border-width: 3px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
 
  border: none;
 
}

@media screen and (max-width:1000px){
  .product-detail-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
  }

  .product-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
.product-detail h1{
  width: 100%;
}

.product-detail .status >img{
  width: 100px;
}
.product-detail .status >span{
  font-weight: 700;
}

.status{
  display: flex;
  align-items:end;
  column-gap: 10px;
  margin-bottom: 15px;
}
.status .rate{
  color: #3a3a3a;
}
.status .total-solded{
  color:gray
}
.status .item-stats{
  color: rgb(77, 174, 47);
}
.item-price{
  margin-top:40px;
  margin-bottom: 30px;
}

.quantity-input{
  border: none;
  color: rgb(168, 165, 165);
  text-align: center;
  font-size: 16px;
  width: 50px;
  margin-bottom: 30px;
 
}



div >.decrease{
  color: rgb(210, 209, 209);
  background-color: #3a3a3a;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;;
  border-radius: 50%;
  cursor: pointer;
   transition: opacity 0.15s;

}

div> .increase{
  color: rgb(210, 209, 209);
  background-color: #3a3a3a;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.15s;
}

.increase:hover{
  opacity: 0.8;;
}

.decrease:hover{
  opacity: 0.8;;
}


.add-to-cart-button{
  margin-right: 20px;
  padding:12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: solid 1px rgb(27, 27, 27);
  background-color: rgb(34, 33, 33);
  cursor: pointer;

  font-weight: 600;
  transition: background-color 0.15s, color 0.15s ;
}

.add-to-cart-button:hover{
  background-color: rgb(47, 47, 47);

 
}

.add-to-cart-button:active{

  background-color: rgb(0, 0, 0);
}




.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input:focus {
  outline: none;
}

.product-desc{
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 10px 20px ;
  border: solid 2px rgb(194, 194, 194);
  border-top-width: 13px;
 border-radius: 5px;

 color: rgb(66, 64, 64);
}

.product-desc >table td{
  
  padding-bottom: 20px;
  padding-right: 20px;
}
.comment-section{
  margin-left:20px;
  border:solid 1px gray; 
  border-radius: 60px;;
  display:block; 
  width: 100%;
   font-size: 25px; 
   position: relative;
   padding-left:20px; 
   padding-right:10px;  
   resize: none; 
   overflow-y: hidden;
   align-content: center;
}
.comment-button{
  height:50px;
   padding:5px 30px 5px 30px; 
   font-size:16px; 
   margin-left:10px;
   border:none; 
   background-color:rgb(60, 60, 60) ; 
   color:white; 
   border-radius:50px;
   cursor: pointer;
  font-weight: 700;
  transition: opacity 0.15s;
}
.comment-cancel-button{
  font-weight: 700;
  height:50px;
  padding:5px 40px 5px 40px; 
  font-size:20px; 
  font-size:16px; 
  border:none; 
  background-color:rgb(255, 255, 255) ; 
  color:white; 
  border-radius:50px;
  margin-left: 880px;
  transition: background-color 0.15s;
  cursor: pointer;
  color: black;
  
}
#comment-list{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}
.comment{
  display: flex; 
  flex-direction:column ; 
  justify-content: center; 
  align-items:center;
}

.comment-button:hover{
  opacity: 0.9; 
}
.comment-cancel-button:hover{
  background-color: rgb(245, 245, 245);
}


.comment-button:active,
.comment-cancel-button:active{
  opacity: 1; 
}

.hidden{
  display:none;
  opacity: 1;
}
.comment-user{
  margin-left: 30px; 
  font-weight:700; 
  font-size:19px; 
  color:rgb(37, 37, 37);
}
.comment-box {
 
  margin-left: 20px;
  border-radius: 50px;
  width: 100%;  
  max-width:1000px; /* Ensure it doesn't overflow parent */
  
  padding: 10px 0px 0px 20px;
  font-size: 18px;
  
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal; 
}
.ri-thumb-up-line {
  font-size: 20px;
  color: rgb(0, 0, 0); /* Default color */
  transition: color 0.1s ;
}

.ri-thumb-up-line.active {
  color: rgb(0, 123, 255); /* Change to blue when liked */
}

.ri-thumb-down-line {
  font-size: 20px;
  color: rgb(0, 0, 0); /* Default color */
  transition: color 0.1s ;
}

.ri-thumb-down-line.active {
  color: rgb(0, 123, 255); /* Change to blue when liked */
}



.dislike-container,
.like-container,
.reply-btn,
.replies-pull{
   cursor:pointer;
   padding: 10px;
   border-radius:25px ;
   transition: background-color 0.15s;
}

.like-container:hover{
  background-color: #eeeeee;
 
}

.dislike-container:hover{
  background-color: #eeeeee;
}



.reply-btn:hover{
  background-color: #eeeeee;
}

.replies-pull:hover{
  background-color: #eeeeee;

}

.error{
  display: none;
 color: rgb(185, 21, 21);
  position:absolute;
  right:100px;
}

