
           /* User Profile Styles */
         .side-bar-setting{
          margin-right: 50px; 
          width: 300px; 
          display: flex; 
          flex-direction: column; 
          padding: 10px;
          row-gap: 20px;
         }

         .side-bar-setting > button{
          font-weight: 500;
          text-align: left;
          font-size: 19px;
          padding: 15px; 
          padding-left: 20px;
          border-radius: 5px;
       
          border: solid 1px whitesmoke;
       
          background-color: white;
          cursor: pointer;
          transition: box-shadow 0.15s;
         }

         .user-details-btn:hover{
         box-shadow: 0px  5px  10px rgba(0,0,0,0.1);
         }
         .user-reset-btn:hover{
          box-shadow: 0px  5px  10px rgba(0,0,0,0.1);
         }
         .user-manage-btn:hover{
          box-shadow: 0px  5px  10px rgba(0,0,0,0.1);
         }
         .user-logout-btn:hover{
          box-shadow: 0px  5px 10px rgba(0,0,0,0.1);
         }

    
         
      
          
                
               


          .user-profile h1 {
    
            color: #333;
             
          }

       
          h2 {
              font-size: 1.5rem;
              margin-top: 20px;
              color: #444;
          }

          
          .detail-row {
              display: flex;
              justify-content: left;
              margin-bottom: 12px;
              font-size: 19px;
              color: #555;
          }

          .detail-row span {
              display: block;
              flex: 1;
          }

          strong {
              color: #333;
              font-weight: 600;
          }
          .user-details{
            border: solid 5px whitesmoke;
            border-top:none ;
            border-right: none;
            border-bottom: none;
            padding: 10px;
            padding-left: 20px;
            padding-right:20px;
            margin-left: 10px;
           
          }

          .user-details input{
            width: 300px;
            font-size: 20px;
            margin-right: 15px;
            margin-top: 10px;
            padding: 10px;
            padding-left: 25px;
            border-radius: 25px;
            border: solid 1px whitesmoke;
            background-color: rgb(240, 240, 240);
          }
          .update-btn{
            margin-top: 15px;
            padding: 13px 20px;
          
            font-size: 20px;
            border: none;
            border-radius: 25px;
            background-color: #333;
            color: white;
            cursor: pointer;
          }

          .update-btn:hover{
            opacity: 0.9;
          }

          .update-reset-btn{
            margin-top: 15px;
            padding: 13px 20px;
            margin-left: 15px;
            font-size: 20px;
            border: none;
            border-radius: 25px;
            background-color: #9d2fcc;
            color: white;
            cursor: pointer;
          }

          .user-profile-img{
            position: absolute;
           
          }
          .update-reset-btn:hover{
            opacity: 0.9;
          }

          .edit-img{
            border: solid 1px;
            position: relative;
            left: 0px;
            border: none;
           background-color: rgb(13, 13, 13);
           border-radius: 50%;
            padding: 10px ;
            font-size: 15px;
            
          }

          #edit-img-js {
            display: none;
            position: absolute;
            top: 100%; /* appears just below the trigger element */
            left: 0;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
            z-index: 999;
          }
          
          .edit-img-window {
            display: none; /* Hidden by default */
            position:fixed;
            transform: translate(140%, -140%);
            width: 400px;
            height: 400px;
            background-color: white;
            z-index: 999; /* On top of the overlay */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          }
          
          #edit-img-js.show {
            display: flex;
            flex-direction: column;
          }
          
          .edit-img > i{
            color: white;
            font-size: 35px;
          }
          .ri-close-circle-fill{
            cursor: pointer;
            top:-20px;
            right:-15px;
            position: absolute;
            font-size: 55px;
            transition:  background-color 0.15s;
          }

          .ri-close-circle-fill:hover{
            color:rgb(33, 33, 33) ;
          }
          .user-profile-img{
            transition: opacity 0.15s;
          }
          .user-profile-img:hover,
          .ri-edit-2-fill{
           opacity: 0.9;
          }

          .overlay {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 998; /* Positioned below the modal */
            backdrop-filter: blur(5px); /* Apply blur effect */
            transition: opacity 0.3s ease;
          }
          .overlay.show {
            display: block;
            opacity: 1;
          }
 