.product-detail-information {
    background-color: rgb(249, 231, 231);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.product-table-left th {
    text-align: right;
}

.img-container  {
    display: flex;
    background-color: rgb(249, 231, 231);
    justify-content: center;
}

.product-img {
    width: 300px;
    object-fit: cover;
    padding: 20px 0;
}

.product-detail-button {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    justify-content: center;
    padding: 15px 0;
    background-color: rgb(249, 231, 231);
}
.product-detail-back-button, 
.product-detail-edit-button, 
.product-detail-delete-button {
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
}

.product-detail-delete-button {
    background-color: red;
    color: white;
}

/*************************************/
.product-information {
    display: grid;
    padding: 40px;

}

.product-information > div{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 4px 0;
    align-items: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2px;
    font-weight: bold;
    background-color: rgb(255, 164, 164);
    margin: 0 5px 0 0;
    padding: 5px;
}


