/***********************************************************/
/*                         BUTTON                          */
/***********************************************************/
.function-toolsbar {
    display: flex;
}

.data-manage-button {
    flex: 1;
    display: grid;
    grid-template-columns: 80px;
    margin-left: 70px ;
}

.insert-btn {
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10%;
    border-width: 1px;
    background-color: rgb(245, 236, 236);
}

.insert-btn:hover {
    background-color: rgb(249, 229, 229);
}

.searching-and-filtering {
    display: grid;
    grid-template-columns: 300px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 70px;
}


.search-button {
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.search-img {
    width: 20px;
    align-items: center;
}

.searching-and-filtering > form {
    display: grid;
    grid-template-columns: 1fr 40px;
}

/***********************************************************/
/*                          TABLE                          */
/***********************************************************/

.product_table td:last-child > button   {
    width: 80px;
    padding: 2px 0;
    margin: 0px 5px ;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.delete-btn {
    background: red;
    color: white;
}

.update-btn {
    color: white;
    background: green;
}

.detail-btn {
    border: 1px solid black;
}  

.product_table td:last-child {
    text-align: center;
}

/***********************************************************/
/*                          PAGER                          */
/***********************************************************/
nav.pager {
    padding: 0;
    background: transparent;
    justify-content: center;
}

nav.pager a {
    outline: 1px solid #333;
}

nav.pager a.active {
    background: #333;
}

nav {
    padding: 0 50px;
    background: #999;
    display: flex;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    background: #666;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover {
    background: #333;
}

/***********************************************************/
/*                        SORTING                          */
/***********************************************************/
.product_table th a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.product_table th a.asc::after {
    content: ' ▴';
}

.product_table th a.desc::after {
    content: ' ▾';
}