/*********************************form-input***********************************************/
label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 10px;
    place-content: start;   /* shortand for align-content and justify-content*/
    place-items: center start;  /*shorthand for align-items and justify-item*/
    padding: 0 40px 10px 40px;
}

.form > label:not(:has(*)) {    /*select <label> elements inside .form that do not contain any child elements
                                :has(*) checks if the <label> has any child elements.
                                :not(:has(*)) selects labels that do not have children.
                                */
    place-self: stretch;    /*place-self is a shorthand for align-self (vertical) and justify-self (horizontal).
                            stretch means the <label> will expand to fill its container.
                             */
    background: #ff9595;
    font-weight: bold;
    padding: 5px;
}

.form > section {
    grid-column: 1 / -1;
}

.err {
    color: red;
}

/***********************************************************/
/*                  book & stationary                     */
/***********************************************************/
.page-container > .book-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background: rgb(255, 169, 169);
    height: 35px;
}

.book-stat div > a {
    vertical-align: bottom;
    text-decoration: none;
    color: black;
}

.book-stat div {
    box-shadow: 0 0 2px;
}

.book-stat + p {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}
/***********************************************************/
/*                  form container                         */
/***********************************************************/
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/***********************************************************/
/*                  image container                         */
/***********************************************************/
.image-container {
    padding: 0 100px;
}

.image-container > img {
    display: block;
    border: 1px solid #333;
    width: 300px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

/***********************************************************/
/*                      BUTTON                             */
/***********************************************************/
section  {
    text-align: center;
}


section > button {
    margin: 5px 10px ;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.close-btn {
    background: red;
    color: white;
}

.submit-btn {
    color: white;
    background: green;
}

.reset-btn {
    border: 1px solid black;
}  